.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem 0;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1.5rem 0;
  }
}

.results {
  list-style: none;
  margin-bottom: 2rem;

  @media only screen and (max-width: $bp-small) {
    margin-bottom: 1.5rem;
  }
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }

    &--next {
      float: right;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 0 2rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 0 1.5rem;

    &__btn {
      &--prev,
      &--next {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
      }
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 1.1rem;
    padding: 0 2rem;
    margin-top: 3rem;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 1rem;
    padding: 0 1.5rem;
    margin-top: 2.5rem;
    text-align: center;
  }
}
